<form [formGroup]="actionForm">
    <mat-form-field class="insert-full-width formNum">
        <input matInput type="number" formControlName="actionId" placeholder="ID" required>
    </mat-form-field>
    <mat-form-field class="insert-full-width">
        <input matInput type="text" formControlName="name" placeholder="名稱" required>
    </mat-form-field>

    <mat-form-field class="insert-full-width">
        <mat-select formControlName="method" [compareWith]="compareObjects" placeholder="傳送方法" required>
            <mat-option *ngFor="let method of methodList" value="{{method}}">{{method}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="insert-full-width formNum">
        <input matInput type="number" formControlName="controllerId" placeholder="控制器" required>
    </mat-form-field>
    <mat-form-field class="insert-full-width">
        <input matInput type="text" formControlName="description" placeholder="描述">
    </mat-form-field>
</form>