<h1 mat-dialog-title>新增選單
    <a (click)="addActionList()" style="cursor: default">
        <i class="material-icons">add_circle</i>
    </a>
</h1>
<div mat-dialog-content>
    <form [formGroup]="addActionForm">
        <div formArrayName="containLists">
            <div *ngFor="let containList of addActionForm.get('containLists')['controls']; let i = index">
                <div>
                    <span>Action {{i + 1}}</span>
                    <span *ngIf="addActionForm.get('containLists')['controls'].length > 1" (click)="removeActionList(i)">
                        <i class="material-icons">cancel</i>
                    </span>
                </div>
                <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
                <div [formGroupName]="i">
                    <action-create-unit [group]="addActionForm.get('containLists')['controls'][i]"></action-create-unit>
                </div>
            </div>
        </div>
        <div class="margin-20">
            <a (click)="addActionList()" style="cursor: default">
                <i class="material-icons">add_circle</i>
            </a>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onNoClick()">取消</button>
    <button mat-raised-button color="primary" (click)="onYesClick(addActionForm.value.containLists)" [disabled]="!addActionForm.valid">確定新增</button>
</div>