<div class="MapContent">

    <!-- SideBar -->
    <mat-drawer-container class="drawer-container">

        <!--Opened Contents-->
        <mat-drawer position="end" #drawer class="drawer-side" mode="side" [(opened)]="opened">
            <div id="MapDetail">

                <div [ngSwitch]="true">
                    <div *ngSwitchCase="drawerPage === 1">
                        <drawer-supplychain></drawer-supplychain>
                    </div>
                    <div *ngSwitchCase="drawerPage === 2">
                        Test Work!!

                        <div id="oval">
                        </div> 

                        <svg height="400" width="350">       
                            <path d="M 0 350 q 100 -30 200 0" stroke="green" stroke-width="1" fill="none" />         
                        </svg>   

                        <canvas id="myCanvas" width="550px" height="350px"></canvas>

                    </div>
                    <div *ngSwitchDefault>
                        Fuck!!
                    </div>
                </div>

            </div>
        </mat-drawer>

        <!--Main content in this page and the action buttoms -->
        <mat-drawer-content class="drawer-content">

            <!-- Map as desktop-->
            <div id="MapDiv" #dragBounds>
                <mat-slider id="slider" class="slider leaflet-left leaflet-top leaflet-control" [max]="maxZoom" [min]="minZoom" [step]="step"
                    [thumbLabel]="thumbLabel" [(ngModel)]="Zoom" [vertical]="vertical" (input)="adjustZoom($event.value)">
                </mat-slider>

                <!--Operation of highchart-->
                <!-- <div id="dragChart" class=" application dragDiv" ngDraggable [handle]="ChartHandle" [bounds]="dragBounds" [inBounds]="true"
                    [preventDefaultEvent]="true">
                    <div class="selector" #ChartHandle>
                        <p> Click here to move
                            <button class="close">
                                <span>x</span>
                            </button>
                        </p>
                    </div>

                    
                    <div id="highcahrtContainer" class="dragDivContent" ngResizable rzHandles="s,e,se" (rzResizing)="onResizing($event)">
                    </div>

                </div> -->

                <div *ngFor="let window of windowList">
                    <window id={{window.name}}></window>
                </div>

                

                <!--Operation of sideList-->
                <!-- <div id="dragAction" class=" actionList dragDiv" ngResizable rzHandles="e,w" ngDraggable [bounds]="dragBounds" [inBounds]="true"
                    [handle]="ActionsHandle" [preventDefaultEvent]="true">
                    <div class="selector" #ActionsHandle>
                        <p> Click here to move
                            <button class="close">
                                <span>x</span>
                            </button>
                        </p>
                    </div>

                    
                    <mat-expansion-panel class=" actionItems">
                        
                        <mat-expansion-panel-header>
                            <p>功能選單</p>
                        </mat-expansion-panel-header>

                        
                        <div *ngFor="let SwitchButton of sideSwitchButtonList; last as isLast">
                            <button type="button" mat-raised-button color="primary" (click)="onToggle($event, SwitchButton.value)">
                                {{SwitchButton.name}}
                            </button>
                            <br *ngIf="!isLast">
                        </div>

                    </mat-expansion-panel>
                </div> -->
            </div>
            <!-- Map as desktop-->

            <!--Operation of hideDrawer-->
            <div class="hideDrawer" [hidden]="!opened">
                <button (click)="opened=false;">
                    <mat-icon class="mat-icon-rtl-mirror">chevron_right
                    </mat-icon>
                </button>
            </div>

            <!--Operation of bottom dock-->
            <div class="dock">
                <button mat-icon-button (click)="opened=false;">
                    <mat-icon class="mat-icon-rtl-mirror">assessment
                    </mat-icon>
                </button>
                <button mat-icon-button (click)="opened=false;">
                    <mat-icon class="mat-icon-rtl-mirror">assignment
                    </mat-icon>
                </button>
                <button mat-icon-button (click)="opened=false;">
                    <mat-icon class="mat-icon-rtl-mirror">work
                    </mat-icon>
                </button>
                <button mat-icon-button (click)="opened=false;">
                    <mat-icon class="mat-icon-rtl-mirror">domain
                    </mat-icon>
                </button>
                <button mat-icon-button (click)="opened=false;">
                    <mat-icon class="mat-icon-rtl-mirror">sentiment_satisfied_alt
                    </mat-icon>
                </button>
            </div>

        </mat-drawer-content>
    </mat-drawer-container>

</div>