.MapContent{
    width:100%;    
    padding-top: 56px;
}

#MapDiv{
    width: 100%;   
    float: left;
}

.drawer-side{
    width: 30%;   
}

.dragDiv {        
    position: absolute;  
    cursor: move;
    z-index: 1000;
    background-color: blueviolet;
    color: #fff;
    border-radius: 5px;
    
}
.dragDiv p {    
    padding: 5px;
    margin: 0px;  
}
.dragDiv .dragDivContent {    
    cursor: text ;    
    min-width:300px;  
    margin: 0px auto; /* 置中*/
}

.actionList{
    float: left;    
    width:170px;
    top: 20px;    
    left: 20px;
    z-index: 1002;
}
.actionList button{
    margin-top: 5px;
}
.application{
    float: left;
    top: 10px;    
    left: 50px; 
    z-index: 1001;
}


/* #MapDetail{
    width: 100%;   
    float: right;
}*/
#MapDetail .search{
    /* height: 6%;  */
    text-align: center;
}
/* #MapDetail .detail{
    height: 94%;
    overflow-y: scroll;
} */
#MapDetail .detail card{
   margin-bottom: 1px;
}








.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;   
    background: rgba(255,255,255,0.7);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

