table{
    width:100%;   
}

table td.actions {
    width:15%;
    text-align: center;
}

table th.actions {
    width:15%;
    text-align: center;
}

.no-results {
    display: flex;
    justify-content: center;
    padding: 14px;
    font-size: 14px;
    font-style: italic;
}

button:hover {
    background-color: #cfd8dc;
}
  
button.TableButton {     
    background-color:#673ab7 !important;
    color: white;
    line-height: 50%;
}