<form [formGroup]="menuForm">
    <mat-form-field class="insert-full-width formNum">
        <input matInput type="number" formControlName="menuId"  placeholder="ID" required>
    </mat-form-field>
    <mat-form-field class="insert-full-width">
        <input matInput type="text"  formControlName="path"  placeholder="路徑" required>
    </mat-form-field>
    <mat-form-field class="insert-full-width">
        <input matInput type="text" formControlName="menuText"  placeholder="選單名稱" required>
    </mat-form-field>
    <mat-form-field class="insert-full-width formNum">
        <input matInput type="number"  formControlName="sortNo"  placeholder="排序" required>
    </mat-form-field>
    <mat-form-field class="insert-full-width">
        <input matInput type="text"  formControlName="selector"  placeholder="標籤">
    </mat-form-field>
    <mat-form-field class="insert-full-width">
        <input matInput type="text" formControlName="component" placeholder="對應元件" required>
    </mat-form-field>
    <mat-form-field class="insert-full-width">
        <mat-select formControlName="rootMenuId" placeholder="隸屬選單">
            <mat-option *ngFor="let menuDetail of menuList" value="{{menuDetail.menuId}}">{{menuDetail.menuText}}</mat-option>
        </mat-select>
    </mat-form-field>
</form>