table{
    width: 100%
}

.NumColumn{
    width:5%;
    min-width: 60px; /*60px可以剛好讓註解完整顯示*/
    text-align: center;
}

table td.actions {
    width:230px;    
    text-align: center;
}
table th.actions {
    width:230px;    
    text-align: center;
}
button.TableButton {     
    background-color:#673ab7 !important;
    color: white;
    line-height: 50%;
}
.no-results {
    display: flex;
    justify-content: center;
    padding: 14px;
    font-size: 14px;
    font-style: italic;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    table td.actions {        
        min-width: 15%;        
    }
    table th.actions {        
        min-width: 15%;       
    }
}