<h1>Long-term Weather data</h1>
<h5>Crawled from 中央氣象局 by Python</h5>
<div>
  地點：
  <select (change)="onSelect($event.target.value)" [value]="selectedStations.stationId">
    <option *ngFor="let station of stations" value="{{station.stationId}}">
      {{station.stationName}}
    </option>
  </select>
  <br /> Selected Station ID: {{selectedStations.stationId}} & Name: {{selectedStations.stationName}}
  <br />  

  <div class="highchart" #TemperatureChart>
    Oops! There are some errors when loading temperatures...
  </div>
  <br>
  
  <div class="highchart" #HumidityChart>
    Oops! There are some errors when loading humidities...
  </div>
</div>
