<h1>Climate</h1>
<div>
  地點：
  <select (change)="onSelect($event.target.value)" [value]="selectedStations.stationId">
    <option *ngFor="let station of stations" value="{{station.stationId}}">
      {{station.name}}
    </option>
  </select>
  筆數：
  <input type="number" min="1" max="100000" [(ngModel)]="searchNum">
  <button (click)="onSelect(selectedStations.stationId)">Search</button>
  <br />  

  <div class="highchart" #temperatureChart>
    Oops! There are some errors when loading temperatures...
  </div>
  <br>
  
  <div class="highchart" #humidityChart>
    Oops! There are some errors when loading humidities...
  </div>
</div>
