<form #menuForm="ngForm" class="insert-form">
  <mat-form-field class="insert-full-width formNum">
    <input matInput type="number" #id [(ngModel)]="FormModel.menuId" name="id" placeholder="ID" required>
  </mat-form-field>
  <mat-form-field class="insert-full-width">
    <input matInput type="text" #path [(ngModel)]="FormModel.path" name="path" placeholder="路徑" required>
  </mat-form-field>
  <mat-form-field class="insert-full-width">
    <input matInput type="text" #menuText [(ngModel)]="FormModel.menuText" name="menuText" placeholder="選單名稱" required>
  </mat-form-field>
  <mat-form-field class="insert-full-width formNum">
    <input matInput type="number" #sortNo [(ngModel)]="FormModel.sortNo" name="sortNo" placeholder="排序" required>
  </mat-form-field>
  <mat-form-field class="insert-full-width">
    <input matInput type="text" #component [(ngModel)]="FormModel.component" name="component" placeholder="對應元件" required>
  </mat-form-field>
  <mat-form-field class="insert-full-width">
    <mat-select #rootMenuId [(ngModel)]="FormModel.rootMenuId" name="rootMenuId" placeholder="隸屬選單">
      <mat-option *ngFor="let MenuDetail of MenuList" value="{{MenuDetail.menuId}}">{{MenuDetail.menuText}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button type="button" class="add" [disabled]="!menuForm.valid" (click)="addMenu(); menuForm.resetForm()">
    增加
  </button>
</form>

<br>

<table border="2">
  <tr class="title">
    <th class="MenuNum">ID</th>
    <th>路徑</th>
    <th>名稱</th>
    <th class="MenuNum">排序</th>
    <th>對應元件</th>
    <th class="MenuNum">隸屬</th>
    <th>操作</th>
  </tr>
  <tr *ngFor="let MenuDetail of MenuList">
    <th class="MenuNum">{{MenuDetail.menuId}}</th>
    <th>{{MenuDetail.path}}</th>
    <th>{{MenuDetail.menuText}}</th>
    <th class="MenuNum">{{MenuDetail.sortNo}}</th>
    <th>{{MenuDetail.component}}</th>
    <th class="MenuNum">{{MenuDetail.rootMenuId}}</th>
    <th class="operation">

      <button title="編輯" class="delete" (click)="openUpdateDialog(MenuDetail)">
        <mat-icon>settings</mat-icon>
      </button>&nbsp;
      <button title="刪除" class="delete" (click)="openDeleteDialog(MenuDetail)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </th>
  </tr>
</table>