/* You can add global styles to this file, and also import other style files 
不用@import "~bootstrap/dist/css/bootstrap.min.css";  已加在Angular-cli styles中*/

/* leaflet.markercluster 因為路徑中有「.」，放在.json會讀不到*/
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";
@import "~leaflet-geosearch/assets/css/leaflet.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

a {
    color: #337ab7;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
h1 {
    color:#343a40;
}

html, body{    
    height: 100%;
    margin: 0; 
    padding: 0;       
}

body{        
    font-family: 微軟正黑體 !important; /*設important才不會被bootstrap字型搶去*/
    text-align: center;
}

.wrapper{    
    min-height: 100%;
    padding-bottom: 80px; /*等於footer的高度*/   
    position: relative;
    top: 0px;
    left: 0px;
}

/*加這段重新定位app-root位置，不然會亂跑*/
app-root{
    margin: 0; 
    padding: 0; 
    position: relative;
}

footer{
    height: 80px;
    width: 100%; 
    margin-top: -80px;

    text-align: center;
    color: white;
    background-color: #343a40;
    font-family: 微軟正黑體;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

footer p{    
     margin-top: 0.5rem;    
     margin-bottom: 0.5rem;    
}

/*--AngularLogo--*/
footer img {
    vertical-align: -6px;
    border-style: none;
}