/* You can add global styles to this file, and also import other style files 
不用@import "~bootstrap/dist/css/bootstrap.min.css";  已加在Angular-cli styles中*/

a {
    color: #337ab7;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
h1 {
    color:#343a40;
}

body{
    padding-top: 50px;   
    font-family: 微軟正黑體 !important; /*設important才不會被bootstrap字型搶去*/
    text-align: center;
}
footer{
    text-align: center;
    color: white;
    background-color: #343a40;
    font-family: 微軟正黑體;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

footer p{    
     margin-top: 0.5rem;    
     margin-bottom: 0.5rem;    
}

/*--AngularLogo--*/
footer img {
    vertical-align: -6px;
    border-style: none;
}