<div *ngIf="isLoginError" class="red-text center error-message">
  <i class="material-icons">error</i> Incorrect account or password
</div>
<form #loginForm="ngForm" (ngSubmit)="onSubmit(account.value, password.value)">
  <div class="row">
    <i class="material-icons">face</i>帳號
    <mat-form-field>
      <input matInput type="text" #account ngModel name="account" placeholder="Please enter account" required>
    </mat-form-field>
  </div>
  <div class="row">
    <i class="material-icons">vpn_key</i>密碼
    <mat-form-field>
      <input matInput [type]="hide ? 'password' : 'text'" #password ngModel name="password"
        placeholder="Please enter password" required>
    </mat-form-field>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  </div>
  <br>
  <div class="row">
    <button mat-raised-button [disabled]="!loginForm.valid" type="submit">Login</button>
  </div>
</form>