/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #4189C7;
    border-radius: 5px;       
    color: white; 
}

.nav-time{
    color: white;
    float: right;
    padding: 1pt;
}

.btn-drawer{
    background-color: transparent;
    color: white;
    line-height: 50%;
    margin-right: 15px;
    transition: all 200ms ease-out;
}

.btn-drawer:hover{
    background-color: white;
    color: #673ab7;
}