

.HomePage .Charts{
    display: inline-block;/*讓div並排*/ 
    vertical-align: top;/*就算個個div行數不同，也一律向上對齊*/
}
.HomePage .TestZone{
    display: inline-block;/*讓div並排*/ 
    vertical-align: top;/*就算個個div行數不同，也一律向上對齊*/
}


.HomePage .highchart {
    display: inline-block;/*讓div並排*/ 
    vertical-align: top;/*就算個個div行數不同，也一律向上對齊*/
}

/* On small screens, convert the nav menu to a vertical sidebar */
    .highchart{
        position: relative;
        width:80%;
        display: inline-block;
    }


@media (min-width: 767px) {
    .highchart{
        position: relative;
        width:20em;        
        text-align: center; 
    }
}