<h1>
  Welcome to My balcony!!  
</h1>
<div class="HomePage">
  <div class="Selection">
    地點：
    <select (change)="onSelect($event.target.value)" [value]="selectedStations.stationId">
      <option *ngFor="let station of stations" value="{{station.stationId}}">
        {{station.stationName}}
      </option>
    </select>
    <br>
    <!--因為非同步的緣故，讀取值時可能data還沒傳來，so... Use safe navigation operator "?" -->
    位置：{{APIRealtimeDate?.stationName}}
    <br> 即時溫度：{{APIRealtimeDate?.recTemp}} °C
    <br> 即時濕度：{{APIRealtimeDate?.recRH}} %
  </div>
  <div class="Charts" *ngIf="APIRealtimeDate">
    </div>
    <div class="highchart" #RealtimeTempGauge>
      Oops! There are some errors when loading temperatures...
    </div>
    <div class="highchart" #RealtimeRHGauge>
      Oops! There are some errors when loading relative humidities...
  </div> 
  
</div>