<h1>
  Welcome to My balcony!!
  <p>哭哭QQ</p>
</h1>
<div class="HomePage">
  <div class="Selection">
    地點：
    <select (change)="onSelect($event.target.value)" [value]="selectedStations.stationId">
      <option *ngFor="let station of stations" value="{{station.stationId}}">
        {{station.stationName}}
      </option>
    </select>
    <br>
    <!-- 因為非同步的緣故，讀取值時可能data還沒傳來，so... Use safe navigation operator "?" -->
    位置：{{APIRealtimeDate?.stationName}}
    <br> 即時溫度：{{APIRealtimeDate?.recTemp}} °C
    <br> 即時濕度：{{APIRealtimeDate?.recRH}} %
  </div>
  <div class="Charts" *ngIf="APIRealtimeDate">     
    </div>
    <div class="highchart" #RealtimeTempGauge>
      Oops! There are some errors when loading temperatures...
    </div>
    <div class="highchart" #RealtimeRHGauge>
      Oops! There are some errors when loading relative humidities...
  </div>
  
  <div class="TestZone">
    測試區
    <br> 1. 直接設定param類型為Observable，在HTML做"time | async"
    <br>
    <div>
      Time: {{ timeNow | async }}
    </div>

    <br> 2. Call API per second <br>
    (Combine together as an Observable array, then ngif)
    <br>
    <div style="height:2rem; position:fixed;top:18rem;" *ngIf="RealtimeData | async as data ">
      time: {{ data.dateFormatted }}
      <br> temp: {{ data.temperatureC }}
    </div> 
    <ng-template #fantastic>
      <h1>Condition Failed!</h1>
    </ng-template>
    <br>
    <br>
    <br> 3. Call API per second <br>
    (2 indivisual parameters, 讓observer定時執行改變param內容，不做"time | async")
    <br>
    <div>
      time: {{ RealtimeDate }}
      <br> temp: {{ RealtimeTemp }}
    </div>
    <br> 4. Call API per second <br>
    (Combine together as an interface, then ngif, 不做async)
    <div *ngIf="DataFromAPI">
      time: {{ DataFromAPI.dateFormatted }}
      <br> temp: {{ DataFromAPI.temperatureC }}
    </div>
    <br>
  </div>
</div>