.dragDiv {        
    position: absolute;    
    z-index: 1000;
    border-radius: 5px;  
    background-color: rgba(138, 43, 226,0.9);
}
.dragDiv p {    
    padding: 5px;
    margin: 0px;  
}
.dragDiv .selector{
    cursor: move;
    color: #fff;    
}
.dragDiv .selector .close{
    float: right;
    font-size: 17px;
    font-weight: 700;
    line-height: 1;
    color:white;
    text-shadow: 0 1px 0 black;    
    opacity: .2;
}
.dragDiv .selector button.close{
    -webkit-appearance: none;
    padding: 0;    
    background: 0 0;
    border: 0;
}
.dragDiv .selector button.close:hover{
    opacity: 1;
}

.dragDiv .dragDivContent {    
    cursor: text ;    
    min-width:300px;  
    margin: 0px auto; /* 置中*/
}

.application{
    float: left;
    top: 10px;    
    left: 50px; 
    z-index: 1002;
}