<video id=vid1 class="video-js streaming-video" data-setup='{}'>

    <source src="http://192.168.1.150/hls/test.m3u8" type="application/x-mpegURL">

    <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">
            supports HTML5 video
        </a>
    </p>
</video>

<div class="control-panel">
    <table>
        <thead>
            <tr>
                <th>項目</th>
                <th>開關</th>
            </tr>
        </thead>
        <tbody>
            <!--todo : 之後改從database抓，ngFor呈現-->
            <tr>
                <td>
                    LED Switch
                </td>
                <td>
                    <mat-slide-toggle class="example-margin" (change)="setGpio(21, $event.checked)">
                    </mat-slide-toggle>
                </td>
            </tr>
            <tr>
                <td>
                    Cooling Fans
                </td>
                <td>
                    <mat-slide-toggle class="example-margin" (change)="setGpio(20, $event.checked)">
                    </mat-slide-toggle>
                </td>
            </tr>
            <tr>
                <td>
                    LED Light Intensity
                </td>
                <td>
                    <mat-slider
                        class="example-margin"
                        [thumbLabel]="true"
                        [tickInterval]="'auto'"
                        (change)="changeIntensityOfLed($event.value)">
                    </mat-slider>
                </td>
            </tr>
        </tbody>
    </table>
</div>
