
<mat-drawer-container class="system-drawer-container" autosize>

  <mat-drawer #drawer class="system-drawer-side" mode="side">
    <ul>         
      <li *ngFor="let MenuItem of MenuList" class="li.link-active nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link" [routerLink]="MenuItem?.path">
          <mat-icon style="vertical-align: top">label</mat-icon>
          {{MenuItem?.menuText}}
        </a>
      </li>
    </ul>
  </mat-drawer>
<mat-drawer-content class="system-drawer-content">
  <div class="system-drawer-button">
    <button type="button" mat-raised-button color="primary" (click)="drawer.toggle()">
      功能選單
    </button>
  </div>
  <br>
  <router-outlet></router-outlet>
</mat-drawer-content>
</mat-drawer-container>

